.AppBody {
  display: flex;
  flex: 1;
  background-color: black;
}
.AppBody * {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
body{
  margin: 0 auto;
}
